openapi: 3.1.0
info:
  title: Orion Sleep API
  description: |
    REST API for the Orion Sleep system (com.orionlongevity.orion).
    Reverse-engineered from Android app v2.1.7 (versionCode 36).

    The app is built with React Native (Expo) and uses Axios as the HTTP client.
    API calls are debounced for real-time features (e.g. temperature control).
    A WebSocket connection at `wss://live.api1.orionbed.com/device/{serial_number}`
    is used for live zone data (configured via EXPO_PUBLIC_LIVE_WS_URL). The
    WebSocket protocol is documented under the `GET /device/{serial_number}`
    path and the `x-websocket` extension.

    **Schema note:** REST request/response shapes are validated against live
    responses where practical. The WebSocket protocol has been validated by
    opening a live connection and logging every frame while driving REST
    mutations (see `orion_info.py --ws-scenario`). Fields that have NOT been
    observed on the wire are flagged as speculative in their descriptions.
  version: 1.0.0
  contact:
    name: Orion Longevity
    url: https://www.orionsleep.com

servers:
  - url: https://api1.orionbed.com
    description: Production REST API
  - url: wss://live.api1.orionbed.com
    description: |
      Production WebSocket (live device data). The full connection URL is
      `wss://live.api1.orionbed.com/device/{serial_number}?token={JWT}` —
      one connection per device.

security:
  - bearerAuth: []

tags:
  - name: Auth
    description: Authentication and user identity
  - name: Devices
    description: Device registration and management
  - name: Sleep Configurations
    description: Sleep configuration and temperature control
  - name: Sleep Schedules
    description: Sleep schedule management
  - name: Sleep Sessions
    description: Sleep session lifecycle
  - name: Insights
    description: Sleep insights and analytics
  - name: Onboarding
    description: User and device onboarding
  - name: Patches
    description: Temperature patch management (SteadyTemp NFC)
  - name: Invites
    description: Device sharing and invite management
  - name: Meetings
    description: Sleep advisor consultation scheduling
  - name: Notifications
    description: Notification and text message preferences
  - name: Surveys
    description: User surveys
  - name: System
    description: Health checks and feature flags
  - name: WebSocket
    description: |
      Real-time device data via WebSocket at wss://live.api1.orionbed.com.
      See x-websocket section for protocol details.

paths:
  # ──────────────────────────────────────────────
  #  Auth
  # ──────────────────────────────────────────────
  /v1/auth/code:
    post:
      operationId: requestAuthCode
      summary: Request an authentication code
      description: |
        Sends a verification code to the user's phone number or email.
        Part of the passwordless login / signup flow.
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                phone:
                  type: string
                  description: Phone number with country code
                  example: "+14155551234"
                email:
                  type: string
                  format: email
                  description: Email address (alternative to phone)
                country:
                  type: string
                  description: ISO country code
                  example: "US"
      responses:
        "200":
          description: Code sent successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        "400":
          $ref: "#/components/responses/BadRequest"

  /v1/auth/do:
    post:
      operationId: executeAuthAction
      summary: Execute an authentication action
      description: |
        Verifies the code sent via /v1/auth/code and completes sign-in or sign-up.
        Returns access and refresh tokens on success.
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                  description: Verification code received via SMS or email
                phone:
                  type: string
                  description: Phone number used to request the code
                email:
                  type: string
                  format: email
                  description: Email used to request the code
      responses:
        "200":
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthTokens"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/auth/me:
    get:
      operationId: getCurrentUser
      summary: Get current authenticated user
      description: Returns the profile of the currently authenticated user.
      tags: [Auth]
      responses:
        "200":
          description: Current user profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/auth/name:
    post:
      operationId: setUserName
      summary: Set or update user name
      description: Sets the user's name, typically during onboarding.
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  description: User's display name
                  example: "Jane"
                firstName:
                  type: string
                lastName:
                  type: string
      responses:
        "200":
          description: Name updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"

  /v1/auth/refresh:
    post:
      operationId: refreshAuthToken
      summary: Refresh authentication tokens
      description: |
        Exchanges a refresh token for a new access/refresh token pair.
        Used automatically by the app and before WebSocket reconnection.
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken:
                  type: string
                  description: Current refresh token (JWT)
      responses:
        "200":
          description: New token pair
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthTokens"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/auth/email/verify/resend:
    post:
      operationId: resendEmailVerification
      summary: Resend email verification
      description: Resends the email verification link to the user's registered email.
      tags: [Auth]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
      responses:
        "200":
          description: Verification email resent
        "400":
          $ref: "#/components/responses/BadRequest"

  /v1/auth/verifyBeforeUpdateEmail:
    post:
      operationId: verifyBeforeUpdateEmail
      summary: Verify identity before changing email
      description: Initiates verification flow before allowing the user to change their email address.
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
                  description: New email address
      responses:
        "200":
          description: Verification initiated
        "400":
          $ref: "#/components/responses/BadRequest"

  # ──────────────────────────────────────────────
  #  Devices
  # ──────────────────────────────────────────────
  /v1/devices:
    get:
      operationId: listDevices
      summary: List all devices
      description: Returns all Orion devices associated with the authenticated user.
      tags: [Devices]
      responses:
        "200":
          description: List of devices
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Device"

  /v1/device:
    post:
      operationId: registerDevice
      summary: Register a new device
      description: |
        Registers a new Orion device to the user's account.
        Typically called during device onboarding after BLE pairing.
      tags: [Devices]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [deviceId]
              properties:
                deviceId:
                  type: string
                  description: Hardware device identifier
                name:
                  type: string
                  description: User-assigned device name
                orientation:
                  type: string
                  description: Bed side orientation
                  enum: [left, right]
      responses:
        "201":
          description: Device registered
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Device"
        "400":
          $ref: "#/components/responses/BadRequest"

  /v1/devices/{deviceId}:
    put:
      operationId: updateDevice
      summary: Update device metadata
      description: |
        Updates device-level metadata (name, orientation, timezone, etc.).
        Used for the "Device Settings" screen. Does **not** control power or
        temperature — use `/v1/devices/{deviceId}/live[/zones/{zoneId}]` for that.

        Decompiled bytecode reference: `updateDevice` at line 488978 of the
        Hermes bundle; URL built via `HermesInternal.concat('/v1/devices/', id)`.
      tags: [Devices]
      parameters:
        - $ref: "#/components/parameters/DeviceIdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Partial device-metadata update (any subset of fields).
              properties:
                name:
                  type: string
                orientation:
                  type: string
                  enum: [left, right]
                timezone:
                  type: string
                  description: IANA timezone (e.g. `America/Denver`)
      responses:
        "200":
          description: Device updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Device"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/devices/{deviceId}/live:
    put:
      operationId: updateLiveDeviceZones
      summary: Bulk update all zones (power / temperature)
      description: |
        Updates the live runtime state of one or more zones on a device in a
        single call. This is the canonical **power control** endpoint used by
        the app's "all zones" toggle and is the preferred way to turn the
        mattress topper on or off.

        The `user-away` flag on `POST /v1/sleep-configurations/user-away` also
        causes the mattress to power down, but it is a presence / schedule
        override rather than a power primitive — prefer this endpoint for
        direct control.

        Decompiled bytecode reference: `updateLiveDeviceZones` at line 881425;
        URL `'/v1/devices/' + id + '/live'`; body built at line 1027574.

        **Note:** `temp` values are in the device's native unit (celsius for
        the OSCT001-1). Use `GET /v1/devices` → `temperature_scale` to convert
        from fahrenheit or relative scales.
      tags: [Devices]
      parameters:
        - $ref: "#/components/parameters/DeviceIdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [zones]
              properties:
                zones:
                  type: array
                  minItems: 1
                  items:
                    $ref: "#/components/schemas/LiveZoneUpdate"
            examples:
              turnAllOn:
                summary: Turn both zones on at 20.5°C
                value:
                  zones:
                    - { id: "zone_a", on: true, temp: 20.5 }
                    - { id: "zone_b", on: true, temp: 20.5 }
              turnAllOff:
                summary: Turn both zones off
                value:
                  zones:
                    - { id: "zone_a", on: false }
                    - { id: "zone_b", on: false }
      responses:
        "200":
          description: |
            Zones updated. A `live_device.update` message is pushed over any
            open `/device/{serial_number}` WebSocket within ~2s, carrying the
            new `zones[*].on`/`temp` setpoints.
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Device not found

  /v1/devices/{deviceId}/live/zones/{zoneId}:
    put:
      operationId: updateLiveDeviceZone
      summary: Update a single zone (power / temperature)
      description: |
        Updates one zone's live runtime state. Used by the per-side toggle
        and per-side temperature sliders in the app.

        Decompiled bytecode reference: `updateLiveDeviceZone` at line 881233;
        URL `'/v1/devices/' + id + '/live/zones/' + zoneId`; body at line 1027481.

        At least one of `on` or `temp` must be provided.
      tags: [Devices]
      parameters:
        - $ref: "#/components/parameters/DeviceIdPath"
        - name: zoneId
          in: path
          required: true
          description: Zone identifier (e.g. `zone_a`, `zone_b`).
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              minProperties: 1
              properties:
                on:
                  type: boolean
                  description: Power state for this zone.
                temp:
                  type: number
                  format: float
                  description: Target temperature in the device's native unit (°C for OSCT001-1).
            examples:
              turnOn:
                value: { on: true }
              setTempOnly:
                value: { temp: 22.0 }
              onAndTemp:
                value: { on: true, temp: 22.0 }
      responses:
        "200":
          description: |
            Zone updated. A `live_device.update` message is pushed over any
            open `/device/{serial_number}` WebSocket within ~2s, carrying the
            new `zones[*].on`/`temp` setpoints.
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Device or zone not found

  /v1/devices/{deviceId}/action:
    post:
      operationId: deviceAction
      summary: Perform a device-level action
      description: |
        Executes a named device action (quiet mode, reboot, LED brightness,
        forget wifi, reset, etc.). The set of allowed actions is carried on
        each device as `permissions.allowed_actions` in `GET /v1/devices`.

        **This is NOT a power endpoint.** Turning the mattress on/off goes
        through `PUT /v1/devices/{deviceId}/live[/zones/{zoneId}]`. The
        `DeviceAllowedAction` enum in the bundle (line 518877) contains no
        `turn_on` / `turn_off` / `power_*` member.

        Decompiled bytecode reference: `deviceAction` at line 489446;
        URL `'/v1/devices/' + id + '/action'`.
      tags: [Devices]
      parameters:
        - $ref: "#/components/parameters/DeviceIdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action]
              properties:
                action:
                  $ref: "#/components/schemas/DeviceAllowedAction"
                value:
                  description: Action-specific payload (e.g. brightness level).
      responses:
        "200":
          description: Action accepted
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/devices/{deviceId}/activate:
    post:
      operationId: activateDevice
      summary: Activate (pair) a device
      description: |
        Pairing / setup lifecycle endpoint, called during onboarding after
        BLE provisioning. Despite the name, this is **not** a power-on —
        it registers the device to the account.

        Decompiled bytecode reference: `activateDevice` at line 489345;
        failure string `'Failed to activate device'` at line 489378.
      tags: [Devices]
      parameters:
        - $ref: "#/components/parameters/DeviceIdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [model]
              properties:
                model:
                  type: string
                  example: "OSCT001-1"
      responses:
        "200":
          description: Device activated
        "400":
          $ref: "#/components/responses/BadRequest"

  /v1/devices/{deviceId}/deactivate:
    post:
      operationId: deactivateDevice
      summary: Deactivate (unpair) a device
      description: |
        Pairing removal / teardown endpoint. **Not** a power-off — this
        unregisters the device from the account.

        Decompiled bytecode reference: `deactivateDevice` at line 489545;
        failure string `'Failed to deactivate device'` at line 489572.
      tags: [Devices]
      parameters:
        - $ref: "#/components/parameters/DeviceIdPath"
      responses:
        "200":
          description: Device deactivated
        "400":
          $ref: "#/components/responses/BadRequest"

  /v1/devices/{deviceId}/update:
    post:
      operationId: triggerDeviceFirmwareUpdate
      summary: Trigger a device firmware update
      description: |
        Instructs the device to begin a firmware update workflow.

        Decompiled bytecode reference: line 489645.
      tags: [Devices]
      parameters:
        - $ref: "#/components/parameters/DeviceIdPath"
      responses:
        "200":
          description: Update triggered

  # ──────────────────────────────────────────────
  #  Sleep Configurations
  # ──────────────────────────────────────────────
  /v1/sleep-configurations/devices:
    get:
      operationId: getSleepConfigDevices
      summary: Get sleep configurations for all devices
      description: Returns sleep configuration data for all devices associated with the user.
      tags: [Sleep Configurations]
      responses:
        "200":
          description: Device sleep configurations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SleepConfiguration"

  /v1/sleep-configurations/temperature:
    put:
      operationId: updateTemperature
      summary: Update temperature setting
      description: |
        Updates the target temperature for a device zone.
        This endpoint is called via debounced API calls during real-time temperature adjustment.
      tags: [Sleep Configurations]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [deviceId, temperature]
              properties:
                deviceId:
                  type: string
                temperature:
                  type: number
                  format: float
                  description: Target temperature value
                side:
                  type: string
                  enum: [left, right]
                  description: Bed side (if split zones)
      responses:
        "200":
          description: Temperature updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SleepConfiguration"

  /v1/sleep-configurations/user-away:
    post:
      operationId: setUserAway
      summary: Mark user as away
      description: Sets the user's status to away, which may adjust device behavior.
      tags: [Sleep Configurations]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                deviceId:
                  type: string
                side:
                  type: string
                  enum: [left, right]
      responses:
        "200":
          description: User marked as away

  /v1/sleep-configurations/user-new-guest:
    post:
      operationId: addGuestUser
      summary: Add a new guest user
      description: Adds a guest user to a device's sleep configuration.
      tags: [Sleep Configurations]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                deviceId:
                  type: string
                name:
                  type: string
                side:
                  type: string
                  enum: [left, right]
      responses:
        "200":
          description: Guest user added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SleepConfiguration"

  /v1/sleep-configurations/user-remove:
    post:
      operationId: removeUser
      summary: Remove a user from device configuration
      description: Removes a user (or guest) from a device's sleep configuration.
      tags: [Sleep Configurations]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                deviceId:
                  type: string
                userId:
                  type: string
      responses:
        "200":
          description: User removed

  /v1/sleep-configurations/user-swap-user-sides:
    post:
      operationId: swapUserSides
      summary: Swap user bed sides
      description: Swaps the left/right bed side assignment for users on a device.
      tags: [Sleep Configurations]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                deviceId:
                  type: string
      responses:
        "200":
          description: Sides swapped
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SleepConfiguration"

  /v1/sleep-configurations/user-split-user-zones:
    post:
      operationId: splitUserZones
      summary: Split temperature zones
      description: Splits a device into independent temperature zones for each side.
      tags: [Sleep Configurations]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                deviceId:
                  type: string
      responses:
        "200":
          description: Zones split
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SleepConfiguration"

  /v1/sleep-configurations/user-update:
    put:
      operationId: updateUserConfig
      summary: Update user sleep configuration
      description: Updates user-specific settings within a device's sleep configuration.
      tags: [Sleep Configurations]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                deviceId:
                  type: string
                userId:
                  type: string
                side:
                  type: string
                  enum: [left, right]
                timezoneOffsetInMinutes:
                  type: integer
      responses:
        "200":
          description: User configuration updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SleepConfiguration"

  # ──────────────────────────────────────────────
  #  Sleep Schedules
  # ──────────────────────────────────────────────
  /v1/sleep-schedules:
    get:
      operationId: getSleepSchedules
      summary: Get sleep schedules
      description: Retrieves the user's sleep schedules with optional action filter.
      tags: [Sleep Schedules]
      parameters:
        - name: action
          in: query
          description: Filter or action type (e.g. enable, disable, update)
          schema:
            type: string
      responses:
        "200":
          description: Sleep schedule data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SleepSchedule"
    put:
      operationId: updateSleepSchedule
      summary: Update a sleep schedule
      description: |
        Updates the user's sleep schedule. Supports per-day configuration
        with bedtime, wake-up time, and enable/disable per weekday.
      tags: [Sleep Schedules]
      parameters:
        - name: action
          in: query
          description: The update action to perform
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SleepScheduleUpdate"
      responses:
        "200":
          description: Schedule updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SleepSchedule"

  # ──────────────────────────────────────────────
  #  Sleep Sessions
  # ──────────────────────────────────────────────
  /v1/sleep-sessions/end:
    post:
      operationId: endSleepSession
      summary: End a sleep session
      description: Ends the current active sleep session for the user.
      tags: [Sleep Sessions]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                sessionId:
                  type: string
                deviceId:
                  type: string
      responses:
        "200":
          description: Session ended
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SleepSession"

  /v1/session-state:
    get:
      operationId: getSessionState
      summary: Get current session state
      description: |
        Returns the current live session state. Used by the app to
        determine if a sleep session is active (fetchAndUpdateSessionState).
      tags: [Sleep Sessions]
      responses:
        "200":
          description: Current session state
          content:
            application/json:
              schema:
                type: object
                properties:
                  active:
                    type: boolean
                  sessionId:
                    type: string
                  startedAt:
                    type: string
                    format: date-time

  # ──────────────────────────────────────────────
  #  Insights
  # ──────────────────────────────────────────────
  /v1/insights:
    get:
      operationId: getInsightsV1
      summary: Get sleep insights (v1)
      description: |
        Returns sleep insight data for a date range.
        Includes daily sleep metrics, HRV, breath rate, body movement.
      tags: [Insights]
      parameters:
        - name: from
          in: query
          required: true
          description: Start date (ISO 8601)
          schema:
            type: string
            format: date
        - name: to
          in: query
          required: true
          description: End date (ISO 8601)
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Sleep insights
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InsightsResponse"

  /v2/insights:
    get:
      operationId: getInsightsV2
      summary: Get sleep insights (v2)
      description: |
        Returns sleep insight data in the v2 format with enhanced metrics.
        Newer version of the insights endpoint with richer data.
      tags: [Insights]
      parameters:
        - name: from
          in: query
          required: true
          description: Start date (ISO 8601)
          schema:
            type: string
            format: date
        - name: to
          in: query
          description: End date (ISO 8601)
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Sleep insights (v2 format)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InsightsResponse"

  # ──────────────────────────────────────────────
  #  Onboarding
  # ──────────────────────────────────────────────
  /v1/onboarding/bedtime:
    post:
      operationId: setOnboardingBedtime
      summary: Set bedtime during onboarding
      description: Records the user's preferred bedtime during the onboarding flow.
      tags: [Onboarding]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                bedtime:
                  type: string
                  description: Preferred bedtime (HH:mm format)
                  example: "22:30"
                timezoneOffsetInMinutes:
                  type: integer
      responses:
        "200":
          description: Bedtime set

  /v1/onboarding/wake-update:
    post:
      operationId: setOnboardingWakeTime
      summary: Set wake-up time during onboarding
      description: Records the user's preferred wake-up time during the onboarding flow.
      tags: [Onboarding]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                wakeTime:
                  type: string
                  description: Preferred wake-up time (HH:mm format)
                  example: "07:00"
                timezoneOffsetInMinutes:
                  type: integer
      responses:
        "200":
          description: Wake-up time set

  /v1/onboarding/schedule-v2-enabled:
    get:
      operationId: isScheduleV2Enabled
      summary: Check if schedule v2 is enabled
      description: Returns whether the v2 scheduling feature is enabled for this user.
      tags: [Onboarding]
      responses:
        "200":
          description: Feature flag status
          content:
            application/json:
              schema:
                type: object
                properties:
                  enabled:
                    type: boolean

  # ──────────────────────────────────────────────
  #  Patches
  # ──────────────────────────────────────────────
  /v1/patches/cancel-invite:
    post:
      operationId: cancelPatchInvite
      summary: Cancel a patch invite
      description: Cancels a pending temperature patch invite.
      tags: [Patches]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                patchId:
                  type: string
      responses:
        "200":
          description: Invite cancelled

  # ──────────────────────────────────────────────
  #  Invites
  # ──────────────────────────────────────────────
  /v1/user-device-invites/accept-invite:
    post:
      operationId: acceptDeviceInvite
      summary: Accept a device invite
      description: |
        Accepts an invitation to share access to an Orion device.
        Invite codes can be shared via deep link (app.orionsleep.com/invite).
      tags: [Invites]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code:
                  type: string
                  description: Invite code
                deviceId:
                  type: string
                accessType:
                  type: string
                  description: Access level granted
                  enum: [member, guest]
      responses:
        "200":
          description: Invite accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Device"
        "400":
          $ref: "#/components/responses/BadRequest"

  # ──────────────────────────────────────────────
  #  Meetings
  # ──────────────────────────────────────────────
  /v1/meetings/schedule-recommendations-enabled:
    get:
      operationId: isScheduleRecommendationsEnabled
      summary: Check if meeting recommendations are enabled
      description: |
        Returns whether the sleep advisor consultation scheduling
        feature is enabled for this user.
      tags: [Meetings]
      responses:
        "200":
          description: Feature status
          content:
            application/json:
              schema:
                type: object
                properties:
                  enabled:
                    type: boolean

  # ──────────────────────────────────────────────
  #  Notifications
  # ──────────────────────────────────────────────
  /v1/notification-preferences:
    get:
      operationId: getNotificationPreferences
      summary: Get notification preferences
      description: Returns the user's notification preference settings.
      tags: [Notifications]
      responses:
        "200":
          description: Notification preferences
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationPreferences"
    put:
      operationId: updateNotificationPreferences
      summary: Update notification preferences
      description: Updates the user's notification preference settings.
      tags: [Notifications]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NotificationPreferences"
      responses:
        "200":
          description: Preferences updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationPreferences"

  /v1/text-opt-in:
    post:
      operationId: updateTextOptIn
      summary: Update text message opt-in status
      description: Opts the user in or out of receiving SMS text messages with sleep insights.
      tags: [Notifications]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                phone:
                  type: string
                optIn:
                  type: boolean
      responses:
        "200":
          description: Opt-in status updated

  # ──────────────────────────────────────────────
  #  Surveys
  # ──────────────────────────────────────────────
  /v1/survey:
    get:
      operationId: getSurvey
      summary: Get survey questions
      description: Returns the current survey for the user (e.g. sleep test survey).
      tags: [Surveys]
      responses:
        "200":
          description: Survey data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Survey"
    post:
      operationId: submitSurvey
      summary: Submit survey responses
      description: Submits the user's answers to a survey.
      tags: [Surveys]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                surveyId:
                  type: string
                responses:
                  type: array
                  items:
                    type: object
                    properties:
                      questionId:
                        type: string
                      answer:
                        type: string
      responses:
        "200":
          description: Survey submitted

  # ──────────────────────────────────────────────
  #  System
  # ──────────────────────────────────────────────
  /v1/health:
    get:
      operationId: healthCheck
      summary: API health check
      description: Returns the health status of the API.
      tags: [System]
      security: []
      responses:
        "200":
          description: API is healthy

  /v1/schedules-pro-mode-test:
    get:
      operationId: getSchedulesProModeTest
      summary: Get schedules pro mode test status
      description: Returns whether the pro mode schedule testing feature is enabled.
      tags: [System]
      responses:
        "200":
          description: Pro mode test status
          content:
            application/json:
              schema:
                type: object
                properties:
                  enabled:
                    type: boolean

  # ──────────────────────────────────────────────
  #  WebSocket — Live Device Data
  # ──────────────────────────────────────────────
  #
  # OpenAPI 3.1 does not natively describe WebSocket protocols.
  # The specification below is documented under x-websocket and
  # as a placeholder path for tooling compatibility.
  #
  # This section was validated against the live server by opening a
  # /device/<serial_number> WebSocket and driving REST mutations while
  # logging every frame (see orion_info.py --ws-scenario).  Field shapes
  # below reflect what is actually pushed on the wire.

  /device/{serial_number}:
    get:
      operationId: connectLiveWebSocket
      summary: Live device data (WebSocket)
      description: |
        **Protocol:** WebSocket (`wss://`)
        **Full URL:** `wss://live.api1.orionbed.com/device/{serial_number}?token={JWT}`

        Establishes a persistent WebSocket connection for real-time data on a
        single device (identified by its serial_number, NOT its UUID). The app
        wraps this in a `DeviceWebSocketProvider` React context and exposes it
        via a `useDeviceWebSocket` hook. One connection is opened per device.

        Standard RFC 6455 WebSocket — not Phoenix Channels, Socket.IO, or Ably.
        The native transport is React Native's `WebSocketModule` backed by OkHttp.

        ---

        ### Connection

        ```
        wss://live.api1.orionbed.com/device/{serial_number}?token=<JWT>
        ```

        - The path segment is the device's **`serial_number`** (e.g.
          `54F82A13AF5C`), not its UUID. Using the UUID returns
          `404 {"error":"Not Found","message":"Device not found"}`.
        - The JWT access token from `POST /v1/auth/verify` or
          `POST /v1/auth/refresh` is passed as the `token` query parameter.
        - Cloudflare fronts the server and negotiates HTTP/2 by default,
          which breaks the WebSocket Upgrade handshake. Clients must force
          ALPN to `http/1.1` on the SSL context.
        - Working User-Agent: `okhttp/4.12.0` (what the Android app sends).

        If `EXPO_PUBLIC_LIVE_WS_URL` is not configured, the app logs
        `[WebSocket] EXPO_PUBLIC_LIVE_WS_URL is not configured` and does
        not attempt to connect.

        ---

        ### Handshake

        **There is NO application-level subscribe/unsubscribe handshake.**
        As soon as the WebSocket is established the server pushes a
        `live_device.snapshot` message, followed by `live_device.update`
        messages for every state change and an additional `live_device.update`
        approximately every 2 seconds as a heartbeat/freshness push.

        ---

        ### App Lifecycle

        | App State Change | Behavior |
        |---|---|
        | App enters foreground | Opens WebSocket connection |
        | App enters background | Closes connection (code `1001`) |
        | App already in background | Skips connection/reconnection attempts |

        ---

        ### Authentication Errors & Token Refresh

        When the server rejects the Upgrade with 401, the client:

        1. Calls `POST /v1/auth/refresh` to obtain a new JWT.
        2. Reconnects with the new token as `?token=<newJWT>`.
        3. On refresh failure, surfaces the expired session.

        ---

        ### Reconnection

        On unexpected disconnection the client reconnects with exponential
        backoff. The Android app exposes a `connectionState` enum:

        - `connecting` — connection in progress
        - `connected` — connected and receiving data
        - `reconnecting` — reconnecting after drop
        - `deviceOffline` — device is not reachable (`status.online=false`)

        ---

        ### Message Format

        Messages are **JSON text** (not binary). Every server-to-client
        message uses the envelope:

        ```json
        { "type": "<event_type>", "payload": { ... } }
        ```

        Observed event types (exhaustive as of the latest capture):

        | `type` | Trigger | Notes |
        |---|---|---|
        | `live_device.snapshot` | Sent once immediately after connect | Full current state |
        | `live_device.update` | REST mutations + ~2s heartbeat | Same payload shape as snapshot; may include a `timeline` array of today's scheduled actions |

        No client-to-server messages are required or observed.

        ---

        ### Server → Client Payload

        Both `live_device.snapshot` and `live_device.update` share the same
        payload shape. See `#/components/schemas/WsLiveDevicePayload`.

        Summarized:

        ```jsonc
        {
          "type": "live_device.snapshot",        // or "live_device.update"
          "payload": {
            "serial_number": "54F82A13AF5C",
            "model": "OSCT001-1",
            "zones": [                           // setpoints (user intent)
              { "id": "zone_a", "temp": 20.5, "on": false },
              { "id": "zone_b", "temp": 20.5, "on": false }
            ],
            "led_brightness": 0,
            "water_fill": "unknown",
            "is_in_water_fill_mode": false,
            "status": {                          // measured state
              "online": true,
              "firmware": { "cb": "2.6.0", "ib": "2.5.0" },
              "firmware_update": { "in_progress": false, "current_step": "complete", ... },
              "pending_update": { "is_available": false },
              "network": { "last_seen": 1776478546, "name": "...", "ip": "...", "rssi": -58, "uptime": 266238, "mac": "..." },
              "safety": { "error": false, "error_codes": [], "error_descriptions": [] },
              "zones": [                         // measured temperatures
                { "id": "zone_a", "temp": 21.9, "thermal_state": "standby" }
              ],
              "sensors": {
                "sensor1": { "heart_rate": 0, "breath_rate": 0, "status": 5, "status_text": "left_bed", "sign_of_asleep": 1, "sign_of_wake_up": 1, "timestamp": 1674759920, "uptime": 498561, "is_working": true, "firmware_version": "11.00.04", "hardware_version": "01.00.00" },
                "sensor2": { ... }
              }
            },
            "timeline": [                        // only on update; today's scheduled actions
              { "id": "...-bedtime-...", "user_id": "...", "label": "bedtime",  "scheduled_time": "2026-04-18T03:55:00.000Z", "action": { "zones": [{"id": "zone_a", "temp": 23, "on": true}, ...] }, "created_at": "..." },
              { "label": "phase_1", ... }, { "label": "phase_2", ... }, { "label": "wake_up", ... }, { "label": "turn_off", ... }
            ]
          }
        }
        ```

        Note that `payload.zones[*]` carries the user setpoint (the target
        temp and power state), while `payload.status.zones[*]` carries the
        measured temperature and the current thermal state
        (`standby`/`heating`/`cooling` — value set inferred, only `standby`
        observed in capture).

        The `timeline` field was empty in idle captures but populated during
        updates that followed REST mutations, carrying today's
        bedtime/phase_1/phase_2/wake_up/turn_off actions from
        `GET /v1/sleep-schedules`.

        Events NOT observed in the latest capture (may exist but were not
        triggered): explicit session-start/session-end events, device-offline
        events (device was online throughout), quiet_mode/reboot responses,
        firmware-update-in-progress events, water-fill-mode transitions.

        ---

        ### Keepalive

        Uses protocol-level WebSocket ping/pong frames. The Android app
        relies on OkHttp's built-in `pingInterval`. No application-level
        heartbeat messages are required from the client, but the server
        itself pushes a `live_device.update` about every 2 seconds which
        effectively keeps the stream warm.

        ---

        ### Close Codes

        | Code | Meaning |
        |---|---|
        | `1000` | Normal closure |
        | `1001` | Client shutdown (app to background, HA unload) |
        | `1006` | Abnormal closure (no close frame) |

        ---

        ### Related REST Endpoints

        | Endpoint | Relationship |
        |---|---|
        | `POST /v1/auth/verify` | Obtain initial JWT for `?token=` |
        | `POST /v1/auth/refresh` | Refresh JWT before reconnection |
        | `PUT /v1/devices/{serial_number}/live` | Setpoint mutation — triggers `live_device.update` |
        | `PUT /v1/devices/{serial_number}/live/zones/{zone_id}` | Single-zone setpoint — triggers `live_device.update` |
        | `POST /v1/sleep-configurations/user-away` | Presence override — also triggers `live_device.update` |
        | `GET /v1/devices/{serial_number}/live` | HTTP-polled equivalent of the snapshot payload |

      tags: [WebSocket]
      security: []
      parameters:
        - name: serial_number
          in: path
          required: true
          description: Device serial_number (NOT its UUID `id`)
          schema:
            type: string
            example: 54F82A13AF5C
        - name: token
          in: query
          required: true
          description: JWT access token for authentication
          schema:
            type: string
      responses:
        "101":
          description: |
            Switching Protocols — WebSocket connection established.
            Subsequent communication uses the WebSocket frame protocol.
          headers:
            Upgrade:
              schema:
                type: string
                example: websocket
            Connection:
              schema:
                type: string
                example: Upgrade
        "400":
          description: Missing serial_number path segment
        "401":
          description: Invalid or expired token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
        "404":
          description: |
            Unknown serial_number. Response body:
            `{"error": "Not Found", "message": "Device not found"}`. Make sure
            the path is the device's `serial_number`, not its UUID `id`.

# ────────────────────────────────────────────────────────────────
#  x-websocket: Machine-readable WebSocket protocol specification
# ────────────────────────────────────────────────────────────────
x-websocket:
  urlTemplate: wss://live.api1.orionbed.com/device/{serial_number}?token={JWT}
  description: |
    Live device data stream, one connection per device (keyed by
    serial_number, NOT the UUID id). Validated against the live server
    with orion_info.py --ws-scenario.
  authentication:
    type: query
    parameter: token
    format: JWT
    description: |
      The JWT access token from /v1/auth/verify is appended as ?token=<jwt>.
      On 401 Upgrade the client calls /v1/auth/refresh and reconnects with
      the new token.
  transportNotes:
    alpn: http/1.1   # Cloudflare would negotiate h2 otherwise, which breaks the WS upgrade
    userAgent: okhttp/4.12.0
    messageFormat: json-text
    handshake: none  # server pushes live_device.snapshot immediately on connect
    heartbeat:
      wireLevel: rfc6455 ping/pong
      applicationLevel: |
        Server pushes an additional `live_device.update` approximately every
        2 seconds as an idle refresh — no client-side ping is required.

  events:
    live_device.snapshot:
      direction: server->client
      cardinality: once-per-connection
      description: |
        Pushed immediately after the WebSocket upgrade completes. Full
        snapshot of the device's setpoints and measured state.
      envelope:
        type: object
        properties:
          type:
            const: live_device.snapshot
          payload:
            $ref: "#/components/schemas/WsLiveDevicePayload"

    live_device.update:
      direction: server->client
      cardinality: many
      description: |
        Pushed on any state change (REST mutation to /v1/devices/{serial}/live,
        /live/zones/{zone}, or /v1/sleep-configurations/user-away) AND
        approximately every 2 seconds as an idle refresh. Same payload shape
        as the snapshot. May additionally include a `timeline` array of
        today's scheduled actions (bedtime/phase_1/phase_2/wake_up/turn_off)
        derived from /v1/sleep-schedules.
      envelope:
        type: object
        properties:
          type:
            const: live_device.update
          payload:
            $ref: "#/components/schemas/WsLiveDevicePayload"

  connectionLifecycle:
    connectOnForeground: true
    disconnectOnBackground: true
    backgroundCloseCode: 1001
    reconnect:
      enabled: true
      strategy: exponential-backoff
      tokenRefreshBeforeReconnect: true
    pingPong: protocol-level

  connectionStates:
    - connecting
    - connected
    - reconnecting
    - deviceOffline

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT Bearer token obtained from /v1/auth/do.
        Refresh via /v1/auth/refresh. The app validates tokens
        using isValidJWT before use.

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
              message:
                type: string

    Unauthorized:
      description: Unauthorized - invalid or expired token
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
              message:
                type: string

  parameters:
    DeviceIdPath:
      name: deviceId
      in: path
      required: true
      description: Device UUID (the `id` field returned by `GET /v1/devices`).
      schema:
        type: string
        format: uuid

  schemas:
    AuthTokens:
      type: object
      properties:
        accessToken:
          type: string
          description: JWT access token
        refreshToken:
          type: string
          description: JWT refresh token for obtaining new access tokens

    User:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        name:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        phone:
          type: string
        emailVerified:
          type: boolean
        devices:
          type: array
          items:
            type: string
            description: Device IDs

    Device:
      type: object
      properties:
        id:
          type: string
        deviceId:
          type: string
          description: Hardware device identifier
        name:
          type: string
          description: User-assigned device name
        orientation:
          type: string
          enum: [left, right]
        firmwareVersion:
          type: string
        batteryLevel:
          type: number
          format: float

    LiveZoneUpdate:
      type: object
      description: |
        Partial update to a single zone's live state, sent to
        `PUT /v1/devices/{deviceId}/live[/zones/{zoneId}]`.
        At least one of `on` or `temp` must be provided.
      minProperties: 1
      properties:
        id:
          type: string
          description: |
            Zone id (e.g. `zone_a`, `zone_b`). Required when used inside
            the `zones` array of `PUT /v1/devices/{deviceId}/live`;
            omitted for the per-zone endpoint where the id is in the path.
        on:
          type: boolean
          description: Power state for this zone.
        temp:
          type: number
          format: float
          description: Target temperature in the device's native unit (°C for OSCT001-1).

    DeviceAllowedAction:
      type: string
      description: |
        Action names accepted by `POST /v1/devices/{deviceId}/action`.
        Extracted from the `DeviceAllowedAction` enum in the decompiled
        bundle (line 518877) and the `permissions.allowed_actions` array
        returned by `GET /v1/devices`.

        **No on/off/power action exists in this enum** — power is controlled
        via `PUT /v1/devices/{deviceId}/live[/zones/{zoneId}]`.
      enum:
        - split
        - swap
        - device_name
        - device_orientation
        - device_led_brightness
        - device_quiet_mode
        - device_reboot
        - device_reset
        - device_forget_wifi
        - device_deactivate
        - invite_user
        - add_new_guest
        - remove_guest

    SleepConfiguration:
      type: object
      properties:
        deviceId:
          type: string
        users:
          type: array
          items:
            $ref: "#/components/schemas/UserZone"
        temperature:
          $ref: "#/components/schemas/TemperatureConfig"
        splitZones:
          type: boolean
          description: Whether the device has independent temperature zones per side

    UserZone:
      type: object
      properties:
        userId:
          type: string
        name:
          type: string
        side:
          type: string
          enum: [left, right]
        isAway:
          type: boolean
        isGuest:
          type: boolean
        targetTemperature:
          type: number
          format: float

    TemperatureConfig:
      type: object
      properties:
        current:
          type: number
          format: float
        target:
          type: number
          format: float
        controlIncrement:
          type: object
          properties:
            fahrenheit:
              type: number
              description: Increment step in Fahrenheit
            celsius:
              type: number
              description: Increment step in Celsius

    SleepSchedule:
      type: object
      properties:
        enabled:
          type: boolean
        days:
          type: array
          items:
            $ref: "#/components/schemas/ScheduleDay"

    ScheduleDay:
      type: object
      properties:
        dayOfWeek:
          type: string
          enum: [monday, tuesday, wednesday, thursday, friday, saturday, sunday]
        enabled:
          type: boolean
        bedtime:
          type: string
          description: Bedtime in HH:mm format
          example: "22:30"
        wakeTime:
          type: string
          description: Wake-up time in HH:mm format
          example: "07:00"
        autoTurnOff:
          type: boolean
          description: Whether the device auto-turns off at wake time
        phase2OffsetMinutes:
          type: integer
          description: Offset in minutes for phase 2 temperature adjustment

    SleepScheduleUpdate:
      type: object
      properties:
        enabled:
          type: boolean
        bedtime:
          type: string
          example: "22:30"
        wakeTime:
          type: string
          example: "07:00"
        days:
          type: array
          items:
            $ref: "#/components/schemas/ScheduleDay"
        forceAllDays:
          type: boolean
          description: Apply changes to all days at once

    SleepSession:
      type: object
      properties:
        sessionId:
          type: string
        deviceId:
          type: string
        startedAt:
          type: string
          format: date-time
        endedAt:
          type: string
          format: date-time
        sleepStages:
          type: array
          items:
            type: object
            properties:
              stage:
                type: string
                enum: [awake, light, deep, rem]
              startTime:
                type: string
                format: date-time
              endTime:
                type: string
                format: date-time

    InsightsResponse:
      type: object
      description: |
        Sleep insights data. Transformed by the app's transformInsightsResponse
        function before display.
      properties:
        dailySleepInsights:
          type: array
          items:
            $ref: "#/components/schemas/DailySleepInsight"

    DailySleepInsight:
      type: object
      properties:
        date:
          type: string
          format: date
        hrv:
          type: object
          description: Heart Rate Variability metrics
          properties:
            value:
              type: number
              format: float
        breathRate:
          type: object
          description: Breath rate metrics
          properties:
            value:
              type: number
              format: float
        bodyMovement:
          type: object
          description: Body movement metrics
          properties:
            rate:
              type: number
              format: float
            restlessTime:
              type: number
              description: Restless time in minutes
            leftBed:
              type: integer
              description: Number of times the user left bed
        sleepScore:
          type: number
          format: float
        totalSleepTime:
          type: number
          description: Total sleep time in minutes
        sleepStages:
          type: object
          properties:
            awake:
              type: number
              description: Time awake in minutes
            light:
              type: number
              description: Time in light sleep in minutes
            deep:
              type: number
              description: Time in deep sleep in minutes
            rem:
              type: number
              description: Time in REM sleep in minutes

    NotificationPreferences:
      type: object
      properties:
        firmwareUpdates:
          type: boolean
          description: Receive firmware update notifications
        newAppFeature:
          type: boolean
          description: Receive new app feature notifications
        sleepOptimization:
          type: boolean
          description: Receive sleep optimization tips

    Survey:
      type: object
      properties:
        surveyId:
          type: string
        version:
          type: string
        questions:
          type: array
          items:
            type: object
            properties:
              questionId:
                type: string
              text:
                type: string
              type:
                type: string
                enum: [text, multiple_choice, rating]

    # ──────────────────────────────────────────────
    #  WebSocket Schemas
    # ──────────────────────────────────────────────
    #
    # These schemas describe frames observed on the wire by
    # orion_info.py --ws-scenario.  Fields NOT seen in that capture
    # are flagged as speculative in their descriptions.

    WsServerMessage:
      type: object
      description: |
        Envelope for every server-to-client WebSocket message.
        Observed event types: `live_device.snapshot` and `live_device.update`.
      required: [type, payload]
      properties:
        type:
          type: string
          enum:
            - live_device.snapshot
            - live_device.update
          description: |
            `live_device.snapshot` is pushed once immediately after connect.
            `live_device.update` is pushed on every state change AND
            approximately every 2s as an idle refresh.
        payload:
          $ref: "#/components/schemas/WsLiveDevicePayload"

    WsLiveDevicePayload:
      type: object
      description: |
        Full state of a single device. Shared between `live_device.snapshot`
        and `live_device.update`. Mirrors the body returned by
        `GET /v1/devices/{serial_number}/live`.
      required: [serial_number, zones, status]
      properties:
        serial_number:
          type: string
          description: Device serial_number (matches the WS path segment)
          example: 54F82A13AF5C
        model:
          type: string
          example: OSCT001-1
        zones:
          type: array
          description: |
            Zone **setpoints** (user intent). The `on` field reflects power
            state; `temp` is the requested target in Celsius.
          items:
            $ref: "#/components/schemas/WsZoneSetpoint"
        led_brightness:
          type: integer
          description: Front-panel LED brightness 0-100.
          example: 0
        water_fill:
          type: string
          description: |
            Water reservoir state. Observed values: `unknown`. Other values
            such as `low`/`ok` are speculative — not captured on a device
            with a healthy reservoir.
        is_in_water_fill_mode:
          type: boolean
        status:
          $ref: "#/components/schemas/WsDeviceStatus"
        timeline:
          type: array
          description: |
            Present on `live_device.update` (may be empty). Today's scheduled
            actions derived from `GET /v1/sleep-schedules`. Entries are
            sequential through the day.
          items:
            $ref: "#/components/schemas/WsTimelineEntry"

    WsZoneSetpoint:
      type: object
      description: |
        Per-zone setpoint (what the user has asked for). Measured temperature
        and thermal state are in `status.zones[]` instead.
      required: [id]
      properties:
        id:
          type: string
          description: Zone identifier
          enum: [zone_a, zone_b]
        temp:
          type: number
          format: float
          description: Target temperature in Celsius
          example: 20.5
        "on":
          type: boolean
          description: Whether the zone is powered on

    WsDeviceStatus:
      type: object
      description: |
        Measured/runtime state of the device. Distinct from the per-zone
        setpoints above.
      properties:
        online:
          type: boolean
          description: |
            True when the device is currently reachable by the cloud. When
            false, the Android app surfaces `connectionState.deviceOffline`.
        firmware:
          type: object
          description: Installed firmware versions.
          properties:
            cb:
              type: string
              description: Control-board firmware version
              example: "2.6.0"
            ib:
              type: string
              description: Interface-board firmware version
              example: "2.5.0"
        firmware_update:
          type: object
          description: State of the most recent firmware-update workflow.
          properties:
            workflow_id:
              type: string
            started_at:
              type: integer
              format: int64
              description: Unix ms
            updated_at:
              type: integer
              format: int64
            in_progress:
              type: boolean
            current_step:
              type: string
              description: |
                Observed value: `complete`. Other lifecycle values
                (`downloading`, `installing`, …) are speculative.
            completed_at:
              type: integer
              format: int64
            result:
              type: string
              description: Observed value `success`.
        pending_update:
          type: object
          properties:
            is_available:
              type: boolean
        network:
          type: object
          description: Wi-Fi / network stats.
          properties:
            last_seen:
              type: integer
              format: int64
              description: Unix seconds of last contact
            name:
              type: string
              description: SSID
            ip:
              type: string
            rssi:
              type: integer
              description: dBm
            uptime:
              type: integer
              description: Seconds since boot
            mac:
              type: string
        safety:
          type: object
          properties:
            error:
              type: boolean
            error_codes:
              type: array
              items:
                type: string
            error_descriptions:
              type: array
              items:
                type: string
        zones:
          type: array
          description: |
            Measured per-zone state (distinct from the setpoints at the
            payload's top level).
          items:
            $ref: "#/components/schemas/WsMeasuredZone"
        sensors:
          type: object
          description: Per-sensor biometrics. Keyed by sensor name.
          additionalProperties:
            $ref: "#/components/schemas/WsSensor"

    WsMeasuredZone:
      type: object
      description: Measured zone temperature and thermal state.
      properties:
        id:
          type: string
          enum: [zone_a, zone_b]
        temp:
          type: number
          format: float
          description: Measured zone temperature in Celsius
        thermal_state:
          type: string
          description: |
            Observed value: `standby`. Other plausible values from the app
            (`heating`, `cooling`, `holding`) are speculative — the capture
            did not exercise a live heat/cool cycle.

    WsSensor:
      type: object
      description: |
        A single in-topper sensor. The topper exposes `sensor1` and `sensor2`.
      properties:
        heart_rate:
          type: integer
          description: BPM; 0 when nobody is on the bed
        breath_rate:
          type: integer
          description: Breaths/min; 0 when nobody is on the bed
        status:
          type: integer
          description: |
            Numeric status code. Observed `5` (paired with
            `status_text=left_bed`) and `0` (paired with `status_text=normal`).
        status_text:
          type: string
          description: |
            Human-readable sensor state. Observed values: `left_bed`
            (nobody on the bed; heart_rate/breath_rate are 0) and `normal`
            (someone on the bed; realistic readings). Other values hinted
            at by the app's string tables (e.g. sitting/asleep/error) are
            plausible but unobserved. The topper also briefly reports
            heart_rate/breath_rate of `255` as a "no reading yet" sentinel
            in the first few seconds after someone sits down.
        sign_of_asleep:
          type: integer
        sign_of_wake_up:
          type: integer
        timestamp:
          type: integer
          format: int64
          description: Unix seconds
        uptime:
          type: integer
          description: Sensor uptime (seconds)
        is_working:
          type: boolean
        firmware_version:
          type: string
        hardware_version:
          type: string

    WsTimelineEntry:
      type: object
      description: |
        A scheduled action for today, materialized from
        `GET /v1/sleep-schedules` for the active user. Appears only on
        `live_device.update`.
      properties:
        id:
          type: string
          description: "Composite id: `{user_id}-{label}-{scheduled_time_ms}`"
        user_id:
          type: string
        label:
          type: string
          enum: [bedtime, phase_1, phase_2, wake_up, turn_off]
        scheduled_time:
          type: string
          format: date-time
          description: ISO 8601 UTC
        action:
          type: object
          description: What will happen at `scheduled_time`.
          properties:
            zones:
              type: array
              items:
                $ref: "#/components/schemas/WsZoneSetpoint"
        created_at:
          type: string
          format: date-time
